/Users/andrewmichaelpowell/Documents/makidice-ios/makidice.xcodeproj/project.xcworkspace/xcuserdata/andrewmichaelpowell.xcuserdatad/UserInterfaceState.xcuserstate
/Users/andrewmichaelpowell/Documents/makidice-ios/.DS_Store
